<%= form_with(model: [:admin, admin_promotor], class: "contents") do |form| %>
  <% if admin_promotor.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(admin_promotor.errors.count, "error") %> prohibited this admin_promotor from being saved:</h2>

      <ul class="list-disc ml-6">
        <% admin_promotor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": admin_promotor.errors[:name].none?, "border-red-400 focus:outline-red-600": admin_promotor.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :contact_person %>
    <%= form.text_field :contact_person, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": admin_promotor.errors[:contact_person].none?, "border-red-400 focus:outline-red-600": admin_promotor.errors[:contact_person].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :email %>
    <%= form.text_field :email, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": admin_promotor.errors[:email].none?, "border-red-400 focus:outline-red-600": admin_promotor.errors[:email].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :phone %>
    <%= form.text_field :phone, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": admin_promotor.errors[:phone].none?, "border-red-400 focus:outline-red-600": admin_promotor.errors[:phone].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :website %>
    <%= form.text_field :website, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": admin_promotor.errors[:website].none?, "border-red-400 focus:outline-red-600": admin_promotor.errors[:website].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :company_type %>
    <%= form.text_field :company_type, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": admin_promotor.errors[:company_type].none?, "border-red-400 focus:outline-red-600": admin_promotor.errors[:company_type].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :headquarters %>
    <%= form.text_field :headquarters, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": admin_promotor.errors[:headquarters].none?, "border-red-400 focus:outline-red-600": admin_promotor.errors[:headquarters].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :years_in_business %>
    <%= form.number_field :years_in_business, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": admin_promotor.errors[:years_in_business].none?, "border-red-400 focus:outline-red-600": admin_promotor.errors[:years_in_business].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :registered_address %>
    <%= form.text_field :registered_address, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": admin_promotor.errors[:registered_address].none?, "border-red-400 focus:outline-red-600": admin_promotor.errors[:registered_address].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :tax_id %>
    <%= form.text_field :tax_id, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": admin_promotor.errors[:tax_id].none?, "border-red-400 focus:outline-red-600": admin_promotor.errors[:tax_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :registration_number %>
    <%= form.text_field :registration_number, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": admin_promotor.errors[:registration_number].none?, "border-red-400 focus:outline-red-600": admin_promotor.errors[:registration_number].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :average_return_rate %>
    <%= form.text_field :average_return_rate, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": admin_promotor.errors[:average_return_rate].none?, "border-red-400 focus:outline-red-600": admin_promotor.errors[:average_return_rate].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :total_raised_funds %>
    <%= form.text_field :total_raised_funds, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": admin_promotor.errors[:total_raised_funds].none?, "border-red-400 focus:outline-red-600": admin_promotor.errors[:total_raised_funds].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :number_of_investors %>
    <%= form.number_field :number_of_investors, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": admin_promotor.errors[:number_of_investors].none?, "border-red-400 focus:outline-red-600": admin_promotor.errors[:number_of_investors].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
