<div id="<%= dom_id promotor %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= promotor.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Contact person:</strong>
    <%= promotor.contact_person %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= promotor.email %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= promotor.phone %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Website:</strong>
    <%= promotor.website %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Company type:</strong>
    <%= promotor.company_type %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Headquarters:</strong>
    <%= promotor.headquarters %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Years in business:</strong>
    <%= promotor.years_in_business %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Registered address:</strong>
    <%= promotor.registered_address %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Tax:</strong>
    <%= promotor.tax_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Registration number:</strong>
    <%= promotor.registration_number %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Average return rate:</strong>
    <%= promotor.average_return_rate %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Total raised funds:</strong>
    <%= promotor.total_raised_funds %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Number of investors:</strong>
    <%= promotor.number_of_investors %>
  </p>
</div>
