<div id="<%= dom_id investment %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= investment.user_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Project:</strong>
    <%= investment.project_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= investment.amount %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Investment date:</strong>
    <%= investment.investment_date %>
  </p>
</div>
