<!--Hero section !-->
<section class="bg-banner-menu bg-cover bg-center">
  <div class="max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
      <div class="mr-auto place-self-center">
          <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl text-white">INVIERTE DESDE <span class="text-green-primary">$ 5000</span></h1>
          <div class="flex">
            <h2 class="text-white">BRIKEX</h2>
            <div class="w-10 border-2 border-x-white"></div>
            <div class="g-x-1">
               <%= link_to "https://twitter.com/yourprofile", target: "_blank", rel: "noopener" do %>
                  <%= icon('fa-brands', 'twitter', class: "bg-white rounded-full p-0.5 hover:bg-gray-200 transition") %>
                <% end %>

                <%= link_to "https://wa.me/yourphonenumber", target: "_blank", rel: "noopener" do %>
                  <%= icon('fa-brands', 'whatsapp', class: "bg-white rounded-full p-0.5 hover:bg-gray-200 transition") %>
                <% end %>

                <%= link_to "https://facebook.com/yourprofile", target: "_blank", rel: "noopener" do %>
                  <%= icon('fa-brands', 'facebook-f', class: "bg-white rounded-full p-0.5 hover:bg-gray-200 transition") %>
                <% end %>

                <%= link_to "https://instagram.com/yourprofile", target: "_blank", rel: "noopener" do %>
                  <%= icon('fa-brands', 'instagram', class: "bg-white rounded-full p-0.5 hover:bg-gray-200 transition") %>
                <% end %>
            </div>
          </div>

          <%= link_to "Empieza a invertir", current_user.present? ? projects_path : new_user_registration_path,
            class: "inline-flex
                    items-center
                    justify-center
                    px-5 py-3
                    bg-green-primary
                    text-base
                    font-medium
                    text-center
                    text-white
                    rounded-lg
                    hover:bg-green-muted
                    focus:ring-4
                    focus:ring-gray-100"  %>


      </div>

  </div>
</section>


<!--Info section !-->
<section class="bg-[#DEE6EC] opacity-100n py-4 w-full text-center">
  <h3>Es importante que antes de invertir consultes la</h3>
  <div class="flex justify-center">
    <%= image_tag("arrow.svg", class: "") %>
    <%= link_to "Información básica para el inversor", projects_path ,class: "text-green-primary" %>
  </div>
</section>

<!--How brikex work !-->

<section class="p-2 md:p-4">
  <div class="w-full text-center">
    <h2 class="font-bold text-lg">¿Como funciona Brikex?</h2>
  </div>

  <div class="flex  md:px-16 justify-around flex-wrap">

    <div class="w-64 m-8">
      <%= image_tag("icons/Receipt Search.svg") %>
        <h3 class="font-bold text-lg">Elegimos proyectos de gran calidad</h3>
        <p class="mt-5">Para que puedas invertir con total confianza, seleccionamos los mejores proyectos inmobiliarios.</p>
    </div>

    <div class="w-64 m-8">
      <%= image_tag("icons/People.svg") %>
        <h3 class="font-bold text-lg">Juntamos el capital de muchas personas</h3>
        <p class="mt-5">Unimos a muchos inversores para financiar proyectos que de otra manera no serían posibles.</p>

    </div>


    <div class="w-64 m-8">
      <%= image_tag("icons/Money Recive.svg") %>
        <h3 class="font-bold text-lg">Se invierte el capital y se genera retornos</h3>
        <p class="mt-5">Una vez que el capital está invertido, generamos retornos que se distribuyen entre los inversores.</p>
    </div>



  </div>


</section>



<!--Projects index users!-->

<section class="bg-[#EEEEEE] p-4 opacity-100">
  <h2 class="w-full font-bold text-xl text-center" > Conoce nuestras oportunidades para invertir desde $500 pesos</h2>
  <div class="flex px-4 mt-4 flex-wrap justify-around">
    <% @projects.each do |project|  %>
    <%= render "projects/project_card", project: project %>
  <% end %>

  </div>

  <div class="flex justify-center mt-4">
    <%= link_to "Ver oportunidades disponibles", projects_path,
      class: "inline-flex
                    items-center
                    justify-center
                    px-5 py-3
                    bg-green-primary
                    text-base
                    font-medium
                    text-center
                    text-white
                    rounded-lg
                    hover:bg-green-muted
                    focus:ring-4
                    focus:ring-gray-100" %>
  </div>
</section>


<!-- About section !-->

<section>
  <h2 class="text-xl font-bold">Acerca de nosotros</h2>
  <p>Conoce más sobre Brikex y nuestro equipo de trabajo.</p>
  <%= image_tag("about_as_image.png") %>
</section>

<!-- Join us section !-->

<section>
  <h2 class="text-xl font-bold" >¿Tienes dudas?</h2>
  <p>Estaremos encantados de atenderte</p>
  <div>
    <div>
      <h3>Contáctanos</h3>
      <p>Envíanos un correo a <a href="mailto:brikex@brikex.com">brikex@brikex.com</a></p>
  </div>
</section>

<section>
  <h2>Únete a nuestra plataforma y comienza a invertir</h2>
  <%= link_to "Registrate", new_user_registration_path %>
</section>
