<div class="bg-white w-[300px] rounded-lg py-4 mt-4">
  <div class="px-6 h-[80px]">
    <h3 class="font-extrabold text-xl">Berlín, Alemania</h3>

    <div class="flex justify-between mt-2">
      <p class="text-gray-400 text-sm mr-3"> Comercial</p>
      <div class="flex flex-wrap">
        <%= image_tag("icons/Position.svg", class: "w-[5%]") %>
        <p class="text-gray-400 text-sm w-[95%]"><%= project.location.split(",").first %></p>
      </div>
    </div>

  </div>
  <div class="w-full h-[150px]">
    <%=  image_tag "project_sample.png", class: "w-full cover" %>
  </div>
  <div class="bg-[#22A881] text-center">
    <h3 class="text-white text-lg py-2 m-0"><%= project.name %></h3>
  </div>
  <div class="px-6 pt-4">
    <%= render "projects/project_stat_inf", project: project %>
  </div>


  <div class="px-6 mt-5">
    <%= render "projects/project_bar", project: project %>

  </div>

  <div class="px-6 mt-4 flex justify-between">
    <%= link_to "Conoce más", project_path(project),
      class: "text-green-primary border border-[#22A881] px-3 py-2 rounded-xl
          hover:bg-green-100"  %>
    <%= link_to "Invierte", project_path(project),
      class: "text-white bg-[#22A881] px-3 py-2 rounded-xl
              hover:bg-green-muted" %>
  </div>
</div>
